.form-remind {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-remind .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-remind .form-control:focus {
    z-index: 2;
}

.form-remind input[type="email"] {
    margin-bottom: 10px;
}

.form-remind ul {
    padding-left: 20px;
}